@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: normal;
    background: #ebe1e1;
}

.description {
    border-bottom: 2px solid black ; 
    color: #a18d8d;
}

.card {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 2px 10px;
    margin: 10px 0px;
}

.container {
    max-width: 800px;
    margin: auto;
}

header {
    width: 100%;
    display: flex;
}

.photo-box {
    max-width: 25%;
    float: left;
}

.person-info {
    max-width: 75%;
    padding-left: 10px;
    float: right;
}

.photo {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

footer .card {
    background: #bbacf1;
}

.btn{
    background: #94fae0;
    font-size: inherit;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.3s;
}

.btn:hover{
    box-shadow: 2px 2px 4px #728b85;
    opacity: 0.7;
}

.btn:active{
    box-shadow: 2px 2px 4px #728b85;
}

a {
    font-style: italic;
    text-decoration: none;
}

a:hover {
    font-style: italic;
    text-decoration: underline;
}

a:visited {
    color: #728b85;
}

table {
    /* border-spacing: 0; */
    border-collapse: collapse;
}

table tbody tr:nth-child(even){
    background: rgb(247, 217, 179);
}

table tbody td:nth-child(1){
    font-weight: bold;
}

table tbody td{
    padding: 0 10px;
}

th {
    background: #fad8b8;
    border-bottom: 2px solid black;
}

.prog-lang ul h4 {
    margin: 0px;
}